@import "base.css";

.root {
    accent_color: #34a5daff;
    background_color: #f3f3f3;
    scroll_pane_background_color: transparent;
    dialog_background_color: white;
    tab_pane_background_color: #f3f3f3;
}

/* To be used in "background" Panes */
.background{
    -fx-background-color: #f3f3f3;
}

.header{
    -fx-text-fill: black;
}

.item-title{
    -fx-text-fill: black;
}

/*******************************************************************************
 *                                                                             *
 * Common Styles                                                               *
 *                                                                             *
 * These are styles that give a standard look to a whole range of controls     *
 *                                                                             *
 ******************************************************************************/

/* ====   CONTROLS WITH ARROW BUTTONS ======================================= */

.menu-button,
.choice-box,
.combo-box-base,
.split-menu-button {
    arrow_color: #111;
}

/* ====   CONTROLS WITH CELLS   ============================================= */

.list-view,
.table-view,
.tree-view,
.tree-table-view {
    cell_hover_color: #dadada;
    cell_pressed_color: #c2c2c2;

    cell_selected_unfocused_color: cell_hover_color;

    cell_selected_color: derive(accent_color, 90%);
    cell_selected_hover_color: derive(accent_color, 70%);
    cell_selected_pressed_color: derive(accent_color, 60%);
}

/*******************************************************************************
 *                                                                             *
 * Text Nodes                                                                  *
 *                                                                             *
 ******************************************************************************/

.label {
}

Text {
    text_color: #111;
}


/*====================== Label ===========================*/
.label {


}

/*====================== Text ===========================*/
Text {

    -fx-fill: text_color;
}

/*=================== Other styles ======================*/
.text {

}

/*******************************************************************************
 *                                                                             *
 * Button and ToggleButton                                                     *
 *                                                                             *
 ******************************************************************************/

.button, .toggle-button {
    button_background_color: #cccccc;
    background_pressed_color: #999999;

    border_hover_color: #7a7a7a;

    text_color: #111;
    default_button_text_color: white;

    focus_ring_border_color: white;
}

.button {
    border_hover_default_color: derive(accent_color, -40%);
}

.button-small {
    -fx-padding : 3px;
}

.toggle-button {
    border_hover_selected_color: derive(accent_color, -40%);
}


.button-link, .button-link:disabled {
    -fx-background-color: transparent;
    -fx-border: 0;
}

.button-link .text {
    -fx-font-family: 'Ubuntu';
}

.button-link .ikonli-font-icon {
    -fx-font-size: 16px;
}

.button-link:hover {
    -fx-underline: true;
    -fx-border: 0;
    border_hover_color: transparent;
}

.hidden-button, .hidden-button:hover, .hidden-button:selected, .hidden-button:focused {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-width: 0px;
    -fx-background-insets: 0;
    -fx-border-insets: 0px;
}

.hidden-button:hover > .ikonli-font-icon {
    -fx-icon-color: orange;
}

/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/
.check-box {
    text_color: #111;
    box_background_color: white;
    box_border_color: #333333;
    box_border_hover_color: #333333;
    indeterminate_mark_color: #333333;
    indeterminate_box_pressed_color: white;
    focus_ring_color: #111;
    -fx-font-family: "Ubuntu";
    -fx-font-size: 13px;
}


/*******************************************************************************
 *                                                                             *
 * Hyperlink                                                                  *
 *                                                                             *
 ******************************************************************************/

.hyperlink {
    hyperlink_hover_color: derive(accent_color, -25%);
    hyperlink_pressed_color: derive(accent_color, -70%);

    hyperlink_disabled_color: #999999;
}

.hyperlink:disabled {
    -fx-opacity: 0.7;
}

/*******************************************************************************
 *                                                                             *
 * Radio Button                                                                *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    text_color: #111;

    radio_background_color: white;
    background_pressed_color: white;

    border_color: #333333;
    border_hover_color: #333333;

    dot_color: white;
    dot_selected_color: #333333;
    dot_selected_hover_color: #111;

    focus_ring_color: #333333;
}

/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    tooltip_background_color: #f2f2f2;
    border_color: #cccccc;
    text_color: #111;
    -fx-font-size: 12px;
}

/*******************************************************************************
 *                                                                             *
 * ToolBar                                                                     *
 *                                                                             *
 ******************************************************************************/

/* Toolbar and light buttons, togglebuttons, menubuttons, splitmenubuttons style */
.tool-bar, .light {
    button_hover_color: #d5d4d4;
    button_pressed_color: #c2c2c2;
}


/*******************************************************************************
 *                                                                             *
 * Scroll Bar and Scroll Pane                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-bar {
    thumb_color: #c2c7ca;
    thumb_hover_color: #838689;
    thumb_pressed_color: #585a5c;

    track_color: #e9e9e9;

    inc_dec_button_color: #e8e6e3;
    inc_dec_button_hover_color: #c6cacf;
    inc_dec_button_pressed_color: #585a5c;

    arrow_color: #5a5a59;
    arrow_pressed_color: white;
}

.scroll-pane {
    corner_background_color: #e9e9e9;
    -fx-background-color: transparent, transparent, transparent;

}



.list-view > .virtual-flow > .corner,
.tree-view > .virtual-flow > .corner,
.table-view > .virtual-flow > .corner,
.tree-table-view > .virtual-flow > .corner {
    corner_background_color: #e9e9e9;
}

/*******************************************************************************
 *                                                                             *
 * Combo Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.combo-box-base {
    text_color: #111;

    /* border */
    border_color: #999999;
    border_hover_color: #666666;
    border_focused_color: #5c5c5c;
    border_pressed_color: border_color;

    /* background */
    combo_box_background_color: white;
    background_pressed_color: #cccccc;

    /* editable */
    combo_box_editable_button_hover_color: #e6e6e6;
    combo_box_editable_focused_button_hover_color: combo_box_editable_button_hover_color;
    combo_box_editable_focused_background_color: white;
    combo_box_editable_focused_arrow_color: arrow_color;

    -fx-background-color: transparent, border_color, combo_box_background_color, combo_box_background_color;
}

.combo-box-popup {
    list_cell_color: #f2f2f2;
    list_cell_hover_color: #dedede;

    list_cell_border_color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * Rating (ControlsFX)                                                         *
 *                                                                             *
 ******************************************************************************/

.rating {
    star_color: #bababa;
}

/*******************************************************************************
 *                                                                             *
 * Text Common (TextField, PasswordField, TextArea)                            *
 *                                                                             *
 ******************************************************************************/

.text-input {
    border_color: #999999;
    border_hover_color: #666666;
    border_disabled_color: #d9d9d9;

    text_input_background_color: white;
    background_focused_color: white;
    background_hover_color: white;
    background_disabled_color: #eaeaea;

    text_color: #111;
    text_focused_color: #111;
    text_disabled_color: #adadad;
    prompt_text_color: #666666;

    highlight_color: accent_color;
    highlighted_text_color: white;

    graphic_color: #747474;
}

/*******************************************************************************
 *                                                                             *
 * Menu Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.menu-button {
    menu_button_background_color: #ccc;
    menu_button_text_color: #111;
    menu_border_hover_color: #7a7a7a;
    menu_button_pressed_color: #999;
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.progress-bar {
    progress_background_color: #ccc;
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider {
    track_hover_color: #666666;
    thumb_hover_color: #171717;

    thumb_pressed_color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * Toggle Switch (ControlsFX)                                                  *
 *                                                                             *
 ******************************************************************************/

.toggle-switch {
    text_color: #111;

    /* Unselected */
    unselected_color: white;
    unselected_border_color: #111;
    thumb_unselected_color: #111;
    /* --    hover */
    unselected_hover_color: unselected_color;
    unselected_border_hover_color: #111;
    thumb_unselected_hover_color: thumb_unselected_color;

    /* Selected */
    selected_color: accent_color;
    selected_border_color: accent_color;
    thumb_selected_color: white;
    /* --    hover */
    selected_hover_color: derive(accent_color, 40%);

    /* Pressed */
    pressed_color: #666666;
    pressed_border_color: pressed_color;
    thumb_pressed_color: white;
}

/*******************************************************************************
 *                                                                             *
 * Spinner                                                                     *
 *                                                                             *
 ******************************************************************************/

.spinner {
    spinner_background_color: white;
    spinner_border_color: #ddd;

    arrow_button_hover_color: #e6e6e6;
    arrow_button_pressed_color: #dadada;

    arrow_color: -fx-mark-color;
    arrow_pressed_color: -fx-mark-color;
}

.spinner > .text-field {
    text_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Date Picker                                                                 *
 *                                                                             *
 ******************************************************************************/

.date-picker {
    graphic_color: #111;
    graphic_focused_color: #111;


    text_color: #111;
    text_focused_color: #111;

    text_selected_color: #fff;
    text_hover_color: text_color;

    text_days_from_other_months_color: derive(text_color, 60%);

    date_picker_background_color: #fff;
    background_focused_color: #fff;
    background_hover_color: #fff;

    border_color: #999999;
    border_hover_color: #666666;

    popup_border_color: #e6e6e6;

    spinner_button_hover_color: #dadada;

    cell_background_color: #fff;

    day_cell_background_color: #e6e6e6;
    day_cell_border_hover_color: #666;

    day_cell_background_days_from_other_months_color: #f2f2f2;

    today_border_color: derive(accent_color, 90%);

    text_field_disabled_background_color: #eaeaea;
}

/*******************************************************************************
 *                                                                             *
 * Choice Box                                                                  *
 *                                                                             *
 ******************************************************************************/

.choice-box {
    text_color: #111;

    border_color: #999999;
    border_hover_color: #666666;
    border_focused_color: #7a7a7a;
    border_pressed_color: border_color;

    choice_box_background_color: white;
    background_pressed_color: #cccccc;
}

/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/

.list-view {
    text_color: #111;

    alternate_row_color: #f0f0f0;

    list_view_background_color: white;
    border_color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Table View                                                                  *
 *                                                                             *
 ******************************************************************************/

.table-view {
    table_background_color: white;
    table_view_border_color: #e9e9e9;

    alternate_row_color: #f0f0f0;

    text_color: #111;
    hover_text_color: #111;
    selected_text_color: #111;
    selected_unfocused_text_color: #111;

    sort_arrow_color: #111;
    show_hide_image_color: sort_arrow_color;
}

/* Check Box Table Cell */
.check-box-table-cell {
    table_check_box_cell_box_background_color: transparent;
    table_check_box_cell_box_border_color: #111;
    table_check_box_cell_mark_color: #111;
}

.table-cell {
    /* -fx-padding: 0.833333em 2em 0.5em 1em; /* 10 24 6 12 */
    -fx-padding: 8 5 4 5;
}

/*******************************************************************************
 *                                                                             *
 * Tree View                                                                   *
 *                                                                             *
 ******************************************************************************/

.tree-view {
    tree_view_background_color: white;

    alternate_row_color: #f0f0f0;

    text_color: #111;
    text_selected_color: #111;
    text_hover_color: text_color;

    arrow_color: #111;
    arrow__hover_color: text_hover_color;
    arrow_selected_hover_color: text_selected_color;
}

/*******************************************************************************
 *                                                                             *
 * Tree Table View                                                             *
 *                                                                             *
 ******************************************************************************/

.tree-table-view {
    table_border_color: #e9e9e9;
    table_background_color: white;

    alternate_row_color: #f0f0f0;

    table_text_color: #111;
    table_text_selected_color: #111;

    collapse_expand_arrow_color: table_text_color;
    sort_arrow_color: table_text_color;

    table_column_vline_color: #e6e6e6;

    /* Color of button that filters columns */
    show_hide_image_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Tab Pane and Tabs                                                           *
 *                                                                             *
 ******************************************************************************/

.tab-pane {
    tab_pane_bottom_border_color: #ccc;

    tab_text_color: #767676;
    tab_text_hover_color: accent_color;
    tab_text_selected_hover_color: derive(accent_color, 30%);

    tab_selected_background_color: #f8f8f8;
    tab_selected_border_color: tab_pane_bottom_border_color;

    more_button_hover_color: #d5d4d4;
    more_button_pressed_color: #c2c2c2;
    more_button_icon_color: #555;
}

/*******************************************************************************
 *                                                                             *
 * Context Menu, Menus, MenuBar and MenuItem                                   *
 *                                                                             *
 ******************************************************************************/

/****************************** Context Menu **********************************/

.context-menu {
    menu_background_color: #f2f2f2;
    context_menu_border_color: #cccccc;

    separator_color: #c3c3c3;
}

/********************************* Menu Bar ************************************/

.menu-bar {
    text_color: #111;

    menu_button_hover_color: #dadada;
}

.menu-item {
    text_color: #111;

    menu_background_color: #f2f2f2;

    graphic_color: #0a0a0a;

    hover_color: #dadada;
    pressed_color: #c2c2c2;
}

/*******************************************************************************
 *                                                                             *
 * Titled Pane                                                                 *
 *                                                                             *
 ******************************************************************************/

.titled-pane {
    text_color: #111;

    title_background_color: #e6e6e6;
    title_background_hover_color: #d6d6d6;

    border_color: #7a7a7a;

    arrow_color: #111;

    content_background_color: #fff;
}

/*******************************************************************************
 *                                                                             *
 * Progress Indicator                                                          *
 *                                                                             *
 ******************************************************************************/

.progress-indicator {
    text_color: #111;
    -fx-progress-color: accent_color;
}

/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/

.separator{
    border_color: #999;
}

/*******************************************************************************
 *                                                                             *
 * SplitMenuButton                                                             *
 *                                                                             *
 ******************************************************************************/

 .menu-button, .split-menu-button {
    button_background_color: #cccccc;
    background_pressed_color: #999999;
    border_hover_color: #7a7a7a;
    light_button_hover_color: #c5c5c5;
    text_color: #111;
    focus_ring_border_color: white;
 }

/*******************************************************************************
 *                                                                             *
 * SplitPane                                                                   *
 *                                                                             *
 ******************************************************************************/

.split-pane {
    border_color: #ddd;
}

/*******************************************************************************
 *                                                                             *
 * Status Bar (ControlsFX)                                                     *
 *                                                                             *
 ******************************************************************************/

/*******************************************************************************
 *                                                                             *
 * TabPane With Underline                                                      *
 *                                                                             *
 ******************************************************************************/

.tab-pane.underlined {
    text_color: #111;
    tab_not_selected_text_color: #999;
    tab_hover_text_color: #555;
}

/*******************************************************************************
 *                                                                             *
 * Range Slider (ControlsFX)                                                   *
 *                                                                             *
 ******************************************************************************/

 /* NEED TO DO A PR ON CONTROLSFX FIRST TO FIX THE RANGE SLIDER SKIN, LIKE I FIXED
 IT IN THE MASTER (JAVA 8) BRANCH
 .range-slider {
    track_hover_color: #666666;
    thumb_hover_color: #171717;
    thumb_pressed_color: #cccccc;
 }*/

 /*******************************************************************************
  *                                                                             *
  * Segoe MDL2 Icon Font                                                        *
  *                                                                             *
  ******************************************************************************/

.mdl2-assets {
    text_color: #111;
}

/*******************************************************************************
 *                                                                             *
 * Dialog                                                                      *
 *                                                                             *
 ******************************************************************************/

.dialog-pane {
    text_color: #111;
}

.content-pane .title {
    -fx-font-family: 'Ubuntu Medium' !important;
    -fx-font-size: 1.6em !important;
}

.content-pane.information .content{

}

.content-pane.information .icon {
    -fx-image: none !important;
}

/*******************************************************************************
 *                                                                             *
 * ColorPicker                                                                 *
 *                                                                             *
 ******************************************************************************/
.color-palette {
    popup_background_color: #f2f2f2;
    popup_border_color: #cccccc;
}

.custom-color-dialog {
    controls_background_color: #f2f2f2;
    controls_border_color: #cccccc;
}

.color-picker.button {
    button_background_color: #cccccc;
    background_pressed_color: #999999;

    border_hover_color: #7a7a7a;

    text_color: #111;

    focus_ring_border_color: white;
}

/** SPECIFICS **/

.login-background {
    -fx-background-image: url("../images/swirl_pattern.png");
    -fx-background-repeat: repeat-x;
    -fx-background-position: center center;
    -fx-border-color: #34a5daff;
    -fx-border-width: 0 0 3 0;
}

#title-app-label .text{
    -fx-font-family: "Ubuntu Light" !important;
    -fx-font-size: 5em !important;
}

#app-menu-bar {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, grey, 5, 0, 0, 1);
}

#app-menu-bar .logo {
    -fx-font-family: 'Ubuntu Mono' !important;
    -fx-font-size: 1.5em;
     -fx-cursor: hand;
}

#app-menu-bar .logo:hover {
    -fx-text-fill: accent_color;
}

#app-module-container {
    -fx-background-color: #f4f4f4;
}

.module-background {
    -fx-background-color: transparent;
}

.module-title-box {
    -fx-padding: 3px;
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-alignment: center-left;
    -fx-spacing: 5px;
}
.module-title-box .label {
    -fx-font-family: 'Ubuntu Light';
    -fx-font-size: 1.2em;
}

.module-title-box .button {
    -fx-padding: 0;
    -fx-pref-width: 10;
    -fx-max-width: 10;
    -fx-background-color: transparent;
}

.module-title-box .ikonli-font-icon {
    -fx-icon-size: 16px;
    -fx-icon-color: text_color;
}

.module-box {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, grey, 3, 0, 1, 1);
}

.module-box-header {
    -fx-background-color: #fff;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #34a5daff;
    -fx-alignment: center-left;
    -fx-padding: 3 5 0 0;
}
.module-box-header > .label{
    -fx-background-color: #fff;
    -fx-padding: 5px;
    -fx-background-radius: 3 3 0 0;
    -fx-font-family: 'Ubuntu Medium';
    -fx-font-size: 1.2em;
}

.module-box-container {
    -fx-padding: 5;
    -fx-background-color: #fff;
}

.usertable-role-label {
    -fx-padding: 0 5 0 5;
    -fx-background-radius: 10px;
    -fx-background-color: #34a5daff;
    -fx-font-size: 0.8em;
}

.usertable-role-label .text {
    -fx-fill: white;
    -fx-font-family: "Ubuntu Medium";
}

.box-action-cell {
    -fx-spacing: 5;
    -fx-background-color: transparent;
}

.button-action-cell, .box-action-cell .button {
    -fx-padding: 1 2 1 2;
}

.button-action-cell .ikonli-font-icon, .box-action-cell .ikonli-font-icon{
    -fx-icon-size: 16px;
}

.error-label {
    -fx-text-fill: red;
}

.waitingdialog {
    -fx-font-size: 1em;
    -fx-font-family: 'Ubuntu Medium' !important;
}

.error-tablerow {
    -fx-background-color: #ff9e9eff;
}

.runfile-node {
    -fx-padding: 3px 5px;
    -fx-background-color: #dddddd;
    -fx-background-radius: 20px;

    -fx-font-family: 'Ubuntu';
}

.runfile-node HBox {
    -fx-spacing: 3px;
    -fx-background-color: transparent;
}

.runfile-node HBox .button {
    -fx-padding: 0 1 0 1;
    -fx-background-radius: 20px;
}

.runfile-node HBox .ikonli-font-icon, .box-action-cell .ikonli-font-icon{
    -fx-icon-size: 16px;
}

.analysis-state-label {
    -fx-background-radius: 10px;
    -fx-padding: 2 5 2 5;
    -fx-font-family: 'Ubuntu Medium';
}

.analysis-state-label .text {
    -fx-fill: white !important;
}

.analysis-state-label-complete {
    -fx-background-color: green;
}

.analysis-state-label-inprogress {
    -fx-background-color: orange;
}

.cell > .transcript-table-cell-warning > .text, .cell > .transcript-table-cell-warning > .ikonli-font-icon {
    -fx-fill: orange !important;
}

.pop-up-filter {
    -fx-background-color: red !important;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-pref-width: 300px;
    -fx-spacing: 2;
    -fx-padding: 2;
}

.pop-up-filter .container {
    -fx-fill: red !important;
}

.dropdown-menu .context-menu {
    -fx-background-color: white !important;
}
.dropdown-menu .menu-item {
    -fx-padding: 0;
}
.dropdown-menu .list-cell {
    -fx-padding: 0 5 0 5!important;
    -fx-cell-size: 25px;
}

.hyperlink-label:hover .text{
    -fx-underline: true ;
}

.list-selection-view .list-cell {
    -fx-padding: 0 !important;
    -fx-cell-size: 20px;
}

.row-header > .table-view2 {
    -fx-background-color: null;
    -fx-padding: 0;
    -fx-insets: 0;
}

.row-header > .table-view2 > .virtual-flow > .scroll-bar:vertical,
.row-header > .table-view2 > .virtual-flow > .scroll-bar:horizontal {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.row-header > .table-view2 > .virtual-flow > .scroll-bar:horizontal .track,
.row-header > .table-view2 > .virtual-flow > .scroll-bar:vertical .track,
.row-header > .table-view2 > .virtual-flow > .scroll-bar:horizontal .increment-button,
.row-header > .table-view2 > .virtual-flow > .scroll-bar:horizontal .decrement-button,
.row-header > .table-view2 > .virtual-flow > .scroll-bar:vertical .increment-button,
.row-header > .table-view2 > .virtual-flow > .scroll-bar:vertical .decrement-button,
.row-header > .table-view2 > .virtual-flow > .scroll-bar:horizontal .thumb,
.row-header > .table-view2 > .virtual-flow > .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 0em;
    -fx-padding: 0;
}

.row-header > .table-view2 > .virtual-flow > .scroll-bar .increment-arrow,
.row-header > .table-view2 > .virtual-flow > .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.variantDetail .smallLabel .text {
    -fx-font-family: 'Ubuntu';
    -fx-font-size: 10px;
}

.variantDetail .cat_title {
    -fx-font-family: 'Ubuntu Medium';
    -fx-font-size: 12px;
}

.variantDetail TextField, .variantDetail TextArea,.variantDetail .toggle-switch .label{
    -fx-font-family: 'Ubuntu';
    -fx-font-size: 12px;
}

.textfield-label, .textfield-label:focused, .textfield-label:hover {
    -fx-background-color: transparent;
    -fx-border:0;
    -fx-padding: 0;
}

.textarea-label {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.textarea-label .content {
    -fx-background-color: transparent, white, transparent, white;
}

.textarea-label:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.textarea-label:focused {
    -fx-highlight-fill: #7ecfff;
}

.textarea-label .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.toggle-switch .label {
    -fx-font-family: 'Ubuntu';
}

.toggle-switch .thumb {
    -fx-padding: 0.60em;
}


.toggle-switch .thumb-area {
    -fx-padding: 0.15em 1em 0.75em 1.333333em; /* 7 16 7 16 */
}

.variantDetail .tab-pane {
    -fx-tab-min-height: 2em; /* 34 */
    -fx-tab-max-height: 2em; /* 34 */
}

.variantDetail .tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: transparent, transparent, tab_pane_background_color;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.083333em 1em 0.0769em 1em; /* 1 18 0.99 18 */
}

.variantDetail .tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: transparent, tab_selected_border_color, tab_selected_background_color;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}


.variantDetail .tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color:
            tab_pane_bottom_border_color,
            transparent,
            white !important;
    -fx-background-insets: 1 1 0 1, 0 0 1 0, 1;
}

.transparent-list-cell  {
    -fx-background-color: #f4f4f4 !important;
    -fx-padding: 5 5 10 5 !important;
    -fx-background-insets: 0 0 5 0;
}

.transparent-list-cell:selected {
    -fx-padding: 5 5 10 5 !important;
    -fx-background-color: #f4f4f4 !important;
    -fx-background-insets: 0 0 5 0 !important;
}
.transparent-list-cell:selected .text {
    -fx-fill: black;
}

.commentary-box {
}

.commentary-box-header {
    -fx-font-size: 1em;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #34a5daff;
    -fx-padding: 0 0 0 0;
}

.tabletheme1-patho {
    -fx-background-color: #ff949dff !important;
}
.tabletheme1-patho .table-cell:hover{
    -fx-background-color: #e7818aff !important;
}

.tabletheme1-likelypatho {
    -fx-background-color: #f8ce9fff !important;
}
.tabletheme1-likelypatho .table-cell:hover{
    -fx-background-color: #e0b88bff !important;
}

.tabletheme1-hotspot {
    -fx-background-color: #ff5b5bff !important;
}
.tabletheme1-hotspot .table-cell:hover{
    -fx-background-color: #ed4d4dff !important;
}

.tabletheme1-exonic {
    -fx-background-color: #ddecffff !important;
}
.tabletheme1-exonic .table-cell:hover{
    -fx-background-color: #bcd4f0ff !important;
}

.tabletheme1-intronic {
    -fx-background-color: #fffce7ff !important;
}
.tabletheme1-intronic .table-cell:hover{
    -fx-background-color: #f1ebc4ff !important;
}

.tabletheme1-other {
    -fx-background-color: #ffe4f7ff !important;
}
.tabletheme1-other .table-cell:hover{
    -fx-background-color: #efd1e6ff !important;
}

.tabletheme2-patho {
    -fx-background-color: #ff9d8bff !important;
}
.tabletheme2-patho .table-cell:hover{
    -fx-background-color: #e58a79ff !important;
}

.tabletheme2-likelypatho {
    -fx-background-color: #ffc586ff !important;
}
.tabletheme2-likelypatho .table-cell:hover{
    -fx-background-color: #edae6aff !important;
}

.tabletheme2-likelybenin {
    -fx-background-color: #c1d585ff !important;
}
.tabletheme2-likelybenin .table-cell:hover{
    -fx-background-color: #afc179ff !important;
}

.tabletheme2-benin {
    -fx-background-color: #9dcd8dff !important;
}
.tabletheme2-benin .table-cell:hover{
    -fx-background-color: #81b86fff !important;
}

.tabletheme2-falsepositive {
    -fx-background-color: #e1e1e1ff !important;
}
.tabletheme2-falsepositive .table-cell:hover{
    -fx-background-color: #d2d2d2ff !important;
}

.selected-transcript {
    -fx-background-color: lightblue !important;
}

.false-positive-textfield, .false-positive-textfield:hover, .false-positive-textfield:focused, .false-positive-textfield:focused:hover {
    -fx-text-fill: goldenrod;
    -fx-font-family: 'Ubuntu medium';
    -fx-background-color: derive(-fx-text-fill, 85%);
    -fx-background-radius: 10px;
    -fx-padding: 2 5;
}

.true-positive-textfield:disabled, .true-positive-textfield:hover, .true-positive-textfield:focused, .true-positive-textfield:focused:hover {
    -fx-text-fill: lightgrey;
    -fx-font-family: 'Ubuntu medium';
    -fx-background-color: derive(-fx-text-fill, 70%);
    -fx-background-radius: 10px;
    -fx-padding: 2 5;
}

.pathogenic-textfield, .pathogenic-textfield:hover, .pathogenic-textfield:focused, .pathogenic-textfield:focused:hover {
    -fx-text-fill: red;
    -fx-font-family: 'Ubuntu medium';
    -fx-background-color: derive(-fx-text-fill, 130%);
    -fx-background-radius: 10px;
    -fx-padding: 2 5;
}

.likely-pathogenic-textfield, .likely-pathogenic-textfield:hover, .likely-pathogenic-textfield:focused, .likely-pathogenic-textfield:focused:hover {
    -fx-text-fill: goldenrod;
    -fx-font-family: 'Ubuntu medium';
    -fx-background-color: derive(-fx-text-fill, 85%);
    -fx-background-radius: 10px;
    -fx-padding: 2 5;
}

.uncertain-significance-textfield,.uncertain-significance-textfield:hover, .uncertain-significance-textfield:focused, .uncertain-significance-textfield:focused:hover {
    -fx-text-fill: #000;
    -fx-font-family: 'Ubuntu medium';
    -fx-background-color: derive(-fx-text-fill, 150%);
    -fx-background-radius: 10px;
    -fx-padding: 2 5;
}

.likely-benin-textfield, .likely-benin-textfield:hover, .likely-benin-textfield:focused, .likely-benin-textfield:focused:hover {
    -fx-text-fill: #869e3fff;
    -fx-font-family: 'Ubuntu medium';
    -fx-background-color: derive(-fx-text-fill, 90%);
    -fx-background-radius: 10px;
    -fx-padding: 2 5;
}

.benin-textfield, .benin-textfield:hover, .benin-textfield:focused, .benin-textfield:focused:hover {
    -fx-text-fill: #62af49ff;
    -fx-font-family: 'Ubuntu medium';
    -fx-background-color: derive(-fx-text-fill, 90%);
    -fx-background-radius: 10px;
    -fx-padding: 2 5;
}

.sanger-state-textfield, .sanger-state-textfield:hover, .sanger-state-textfield:focused, .sanger-state-textfield:focused:hover{
    -fx-text-fill: #000;
    -fx-font-family: 'Ubuntu medium';
    -fx-background-color: derive(-fx-text-fill, 150%);
    -fx-background-radius: 10px;
    -fx-padding: 2 5;
}


.cnv-sample-detail {
    -fx-padding: 5px;
    -fx-background-color: #f7fafc;
    -fx-border-color: #e2e8f0;
    -fx-border-radius:  10;
    -fx-background-radius: 10;
}

.violin-chart-y-tick {
    -fx-font-family: 'Ubuntu';
    -fx-font-size: 11px;
}

.violin-chart-x-tick {
    -fx-font-family: 'Ubuntu Medium';
    -fx-font-size: 11px;
}

.autoCNVBtn {
	-fx-background-image: url('../images/autoMode_off.png');
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-height: 40px;
    -fx-min-width: 94px;
    -fx-background-size: 94px 40px;
}

.autoCNVBtn:hover {
	-fx-border-width: 1px;
	-fx-border-color: lightgrey;
	-fx-border-radius: 3px;

}

.autoCNVBtn:selected {
	-fx-background-image: url('../images/autoMode_on.png');
}

.cnv-range-slider .low-thumb,
.cnv-range-slider .high-thumb {

    -fx-border-radius: 1.0em;
    -fx-border-width: 1px;

    -fx-effect: none;
}

.cnv-range-slider {
    -fx-min-width:300px;
    -fx-max-width:300px;
}

.cnv-range-slider .low-thumb {
    -fx-background-color: #ffbe64ff;
    -fx-border-color: #f99e1cff;
}
.cnv-range-slider .high-thumb {
    -fx-background-color: #f08383ff;
    -fx-border-color: #e24545ff;
}

.cnv-range-slider .low-thumb:focused,
.cnv-range-slider .high-thumb:focused {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-border-width: 1;
}

.cnv-range-slider .range-bar {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #f99e1cff, #e24545ff);
}

.pagination {
    -fx-page-information-visible: false;
}

.x-range-indicator-label {
    -fx-background-color: lightgrey !important;
    -fx-border-width: 0.5px !important;
    -fx-border-radius: 0px !important;
    -fx-background-radius: 0 !important;
    -fx-padding: 0 2 0 2 !important;
}

.x-range-indicator-label .text {
    -fx-font-family: 'Ubuntu Medium';
    -fx-font-weight: normal;
    -fx-fill: #000;
}

.chart-major-horizontal-lines {
   -fx-fill: red !important;
   -fx-stroke : red !important;
   -fx-stroke-width: 2 !important;
}

.chart-plot-background {
    -fx-background-color: transparent;
    -fx-margin: 50px !important;
}

.chart-title {
}

.chart-content {
-fx-padding: -10 0 0 0 ;
}

.chart {
}

.deltest {
    -fx-fill: #ffdcaaff;
}
.duptest {
    -fx-fill: #e08e8eff;
}

.title-button-container {
    -fx-vgrow-policy:always;
}

.toggletab {
    -fx-font-size: 13px;
    -fx-font-family: 'Ubuntu Medium', sans-serif;
    -fx-background-insets: 0 1 0 0, 1 2 0 1, 2 3 1 2;
    -fx-min-width: 110px;
    -fx-background-color: tab_pane_background_color, tab_pane_background_color, tab_pane_background_color;
}

.toggletab .text {
    -fx-fill: #767676;
}

.toggletab:hover, .toggletab:selected:hover {
   -fx-border-color: transparent;
   -fx-background-color: #ccc, tab_pane_background_color, tab_pane_background_color;
}

.toggletab:hover .text {
    -fx-fill: accent_color;
}

.toggletab:selected {
    -fx-background-color: #ccc, tab_pane_background_color, tab_pane_background_color;
}

.toggletab:selected .text {
    -fx-fill: accent_color;
}

.analysis_status_inprogress {
    -fx-background-color: #ffa047;
    -fx-background-radius: 5;
    -fx-font-family: 'Ubuntu Medium';
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-padding: 2px 5px;
}

.analysis_status_inprogress .ikonli-font-icon:hover {
    -fx-fill: white
}

.analysis_status_complete {
    -fx-background-color: #67ac51;
    -fx-background-radius: 5;
    -fx-font-family: 'Ubuntu Medium';
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-padding: 2px 5px;
}

.analysis_status_complete .ikonli-font-icon:hover {
    -fx-fill:white
}


.predictiongauge-range-label {
    -fx-font-size: 12px !important;
    -fx-font-family: 'Ubuntu medium';
    -fx-min-width: 35px;
    -fx-max-width: 35px;
}

.predictiongauge-range-label-left{
    -fx-alignment: center-right;
}

.predictiongauge-range-label-right{
    -fx-alignment: center-left;
}

.predictiongauge-threshold-label {
    -fx-font-size: 10px !important;
    -fx-font-family: 'Ubuntu Bold';
}

.predictiongauge-marker-label {
    -fx-font-size: 12px !important;
    -fx-font-family: 'Ubuntu Bold';
    -fx-background-color: accent_color;
    -fx-padding: -1 2px;
    -fx-background-radius: 3px;
    -fx-text-fill: white;
}

.predictiongauge-marker-arrow {
    -fx-fill: accent_color;
}

.predictiongauge-shape:disabled {
    -fx-opacity: 0.2;
}

.prediction-gauge-region:disabled {
    -fx-opacity: 0.6;
    -fx-alignment: center;
    -fx-min-height:40px;
}